.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



.font-home {
  font-size: 800%;
  color: #F0F4CF;
}

.home-buttom {
  font-size: 150%;
}

@media only screen and (max-width: 992px) {
  .font-home {
    font-size: 100px;
    color: #F0F4CF;
  }
}

@media only screen and (max-width: 600px) {
  .font-home{
    font-size: 80px ;
    color: #F0F4CF;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
}