.search-margin{
    margin-top: 60px;
}

.search-img{
    margin-top: 60px;
}

.prediction-margin{
    margin-top: 100px;
}

.prediction-button {
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height:100px;
    width: 1000px;
    font-size: 30px;
  }

